<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
p{

font-family:Georgia;
background-color:rgb(66, 240, 13);
}
body{
background-color: rgb(79, 45, 201);
line-height: 2;
color: white ;
font-family: fantasy;
}

</style>

</head>
<body>
    <form method="POST" action="{% url 'ed' userid=id %}">
        {% csrf_token %}

<center>
<form>
<table style="width:50%">
<b>
<tr>
<th colspan="3"><h style="color: white ; text-align:center; font-size:30;"><b><p> UPDATION</b></p></h></th></tr>
<tr>
    <b>
<td>First Name </td><td>:</td><td><input type="text" name="f_name"value="{{userdata.fn}}"/></td><br></tr>
<tr>
<td>Last Name </td><td>:</td><td><input type="text"name="l_name"value="{{userdata.ln}}"/><td><br></tr>
<tr>
<td>Gender</td><td>:</td><td><input type="text" name="gen"value="{{userdata.ge}}"/><br></td></tr>
<tr>
<td>Date of Birth</td><td>:</td><td><input type="text"name="dob"value="{{userdata.d}}"placeholder="YYYY/MM/D"/> </td><br></tr>
<tr>
<td>Android</td><td>:</td><td><input type="text"name="mark1"value="{{userdata.m1}}"/><br></td></tr><br>
<tr>
<tr>
<td>Data mining</td><td>:</td><td><input type="text"name="mark2"value="{{userdata.m2}}"/><br></td></tr><br>
<tr>
<td>Email</td><td>:</td><td><input type="email"name="email" value="{{userdata.ema}}"></td><br></tr>
<tr>
<td>Phone Number</td><td>:</td><td><input type="text"name="num"value="{{userdata.pho}}"></td><br></tr></b>
<tr>
<tr>
 <td><input type="submit"value="UPDATE"button style="background-color:rgb(247, 247, 247);"/></td></tr>
</b>
</table> 
</form>
</center>
</body>
</html>      